@model List<IDGS902_Tema1.Models.Pulques>

@{
    ViewBag.Title = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>MuestraPulques</h2>
<div>
    <table>
        <thead>
            <th>Productos</th>
            <th>Descripcion</th>
            <th>Litros</th>
            <th>Creacion</th>
        </thead>
        <tbody>
            @foreach(var pulque in Model)
            {
                <tr>
                    <td>@pulque.Producto</td>
                    <td>@pulque.Descripcion</td>
                    <td>@pulque.Litros</td>
                    <td>@pulque.Creacion</td>
                </tr>
            }
        </tbody>
    </table>
</div>

