
@{
    ViewBag.Title = "OperasBas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>OperasBas</h2>
<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <form action="/" method="post">
                <label>Numero1</label>
                <input type="text" name="n1" value="" />
                <br />
                <label>Numero2</label>
                <input type="text" name="n2" value="" />
                <br />
                <label>Elige una opcion</label>
                <input type="radio" name="opera" value="1"> Sumar
                <br />
                <input type="radio" name="opera" value="2"> Restar
                <br />
                <input type="radio" name="opera" value="3"> Multiplicar
                <br />
                <input type="radio" name="opera" value="4"> Dividir
                <br />
                <input type="submit" name="name" value="Calcular" />

            </form>
        </div>
        <div class="col-lg-6">
            <h1>La suma es: @ViewBag.Res</h1>
        </div>
    </div>
</div>

